CONFIG_REPO_URI=file:///C:/ruta/a/config-repo

CLIENTE_DB_URL=jdbc:postgresql://localhost:5432/novabank_clientes
CLIENTE_DB_USERNAME=postgres
CLIENTE_DB_PASSWORD=change-me

CUENTA_DB_URL=jdbc:postgresql://localhost:5432/novabank_cuentas
CUENTA_DB_USERNAME=postgres
CUENTA_DB_PASSWORD=change-me

OPERACION_DB_URL=jdbc:postgresql://localhost:5432/novabank_operaciones
OPERACION_DB_USERNAME=postgres
OPERACION_DB_PASSWORD=change-me

AUTH_DB_URL=jdbc:postgresql://localhost:5432/novabank_auth
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=change-me

JWT_SECRET=change-me-change-me-change-me-change-me-change-me
JWT_EXPIRATION=3600000
